.navigator-player-layers-editor {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgb(48, 64, 77);
}
.navigator-player-layers-editor .layers-editor-container {
    height: 100%;
}
