body {
    background-color: #30404d;
}

.player {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.recently-played {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: auto;
    margin-left: 20px;
}


.thumb-frame {
    background: black !important;
    position: relative;
    width: 270px;
    height: 220px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px !important;
    overflow: hidden;
}

.thumb-options {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}


.thumb-frame-selected {
    border: 2px solid white;
}

.thumb-title, .thumb-title-2 {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    font-weight: bold;
}

.thumb-title-2 {
    font-weight: normal;
}

.thumb-author {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: darkgray;
}

.thumb-screenshot {
    width: 100%;
}

.left-margin {
    margin-left: 20px;
}

.one-row {
    display: flex;
    align-items: baseline;
}

.one-row button {
    margin-left: 10px;
}

.thumb-play {
    position: absolute;
    left: calc(50% - 16px);
    top: calc(50% -  16px);
    background: rgba(128, 128, 128, 0.7);
    border-radius: 32px;
    padding: 5px;
}

.play-player-root {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.play-player-container {
    position: relative;
    flex-grow: 1;
}

.dhry2-test {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: monospace;
}

.dhry2-test p {
    font-size: 1.5em;
}

.dhry2-test span {
    font-weight: bold;
}

.touch-options {
    margin-top: 5px;
    margin-left: 15px;
    display: flex;
    align-items: baseline;
}

.touch-options button {
    align-self: center;
}

.input-control-container {
    display: none;
    padding: 5px 0 5px 5px;
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    z-index: 999;
    background: rgb(57, 75, 89);
    box-shadow: rgba(16, 22, 26, 0.2) 0px 0px 0px 1px, rgba(16, 22, 26, 0) 0px 0px 0px, rgba(16, 22, 26, 0.4) 0px 1px 1px;
}

.input-control-container input {
    flex-grow: 1;
}

.avatar {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-head {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.profile-short-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.profile-username {
    font-size: 2em;
    font-weight: bold;
}

.profile-avatar {
    width: 72px;
    border-radius: 50%;
}

.my-turbo-switch {
    margin-left: 10px;
}

.popover-inner-card {
    padding: 5px;
}

.loader-container {
    background: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader-pre-1 {
    font-size: 2vw;
    margin: 0 0 1em 0;
    font-weight: bold;
}

.loader-pre-2 {
    margin: 1em 0;
    font-size: 2vw;
    font-family: monospace;
    font-weight: 100;
    text-transform: uppercase;
}

.loader-icon {
    background: url(loader.gif) no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
}

.spinner-inline {
    display: inline-block !important;
}

.layout-thumb {
    max-width: 100%;
}

.fake-input {
    padding: 5px !important;
    display: inline-block !important;
    text-align: center !important;
}

.layer-container {
    background: #30404D;
    padding: 5px 10px;
    border-radius: 4px;
}

.layer-collapse {
    margin-top: 10px;
    margin-left: 32px;
}
